html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {

  color: #991b1b;
  height: 2rem;
  width: 2rem;
}

.swiper-slide-text{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  row-gap: 1rem;
}

.swiper-slide-img{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.swiper-slide-img div{
  height: 450px;
  width: 350px;
  border-radius: 3%;
  overflow: hidden;
}

.swiper-slide-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




